@use '../util' as *;


.toggle{
    border: 2px solid red;

    &__button{
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        background-color: var(--toggle);
    }
}